body {
    margin: 0;
    padding: 0;
}

table {
    padding: 0;
    margin: 0;
    border-spacing: 0;
    border: 0;
    border-collapse: collapse;
    width: 100%;
    height: 100%;
}

iframe {
    width: 100%;
    height: 100%;
    border: none;
}

td {
    padding: 0;
}

.rowSpading {
    height: 1px;
    background: white;
}

.columnSpacing {
    width: 1px;
    background: white;
}

.leftRowCell {
    width: 40%;
}

.rightRowCells {
    height: 33%;
}
