---
platform: linux

image_resource:
  type: docker-image
  source:
    repository: bosh/os-image-stemcell-publisher

inputs:
  - name: ci
  - name: stemcell
  - name: version
  - name: boshio-input
outputs:
  - name: version-tag
  - name: boshio-output
run:
  path: ci/tasks/commit-meta4-file/run
params:
  IAAS:
  OS_NAME:
  OS_VERSION:

